<!DOCTYPE html>
<html>
  <head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Dashboard</title>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 	<div class="row">
 		
 		<div id="div_hour">
 			<p>12:07</p>
 		</div>
 		
 		<div id="div_info">
 			<div id="div_song">
 				<p>Drive Home</p>
 			</div>
 			<div id="div_artist">
 				<p>Steven Wilson</p>
 			</div>
 		</div>

 		<div id="div_progress">
	 		<div id="div_progress_background"></div>
	 		<div id="div_progress_foreground"></div>
 		</div>

 		<div id="div_elapsed">
 			<p>3:27</p>
 		</div>

 		<div id="div_player">
 			<div id="back">
 				<a href="#">
				  <img src="images/back.png">
				</a>
 			</div>
 			
 			<div id="play">
 				<a href="#">
				  <img src="images/play.png">
				</a>
 			</div>

 			<div id="next">
 				<a href="#">
				  <img src="images/next.png">
				</a>
 			</div>
 		</div>

 	</div>
  </body>
</html>
