 <html>
  <head>
  	<script src="js/jquery-3.1.0.min.js"></script>
  	
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<script src="js/bootstrap.min.js"></script>

	<script src="js/bundle.js"></script>

    <title>Dashboard</title>
    
    <link rel='stylesheet' href='stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect('http://localhost:3001');
			socket.on('news', function (data) {
				console.log(data);
				socket.emit('my other event', { my: 'data' });
			});
	</script>
  </head>
  <body>
 	<div class="row">
 		
 		<div id="div_hour">
 			<p>12:07</p>
 		</div>
 		
 		<div id="div_info">
 			<div id="div_song">
 				<p>Drive Home</p>
 			</div>
 			<div id="div_artist">
 				<p>Steven Wilson</p>
 			</div>
 		</div>

 		<div id="div_progress">
	 		<div id="div_progress_background"></div>
	 		<div id="div_progress_foreground"></div>
 		</div>

 		<div id="div_elapsed">
 			<p>3:27</p>
 		</div>

 		<div id="div_player">
 			<div id="back">
 				<a id="back_button">
				  <img src="images/back.png">
				</a>
 			</div>
 			
 			<div id="play">
 				<a id="play_button">
				  <img src="images/play.png">
				</a>
 			</div>

 			<div id="next">
 				<a id="next_button">
				  <img src="images/next.png">
				</a>
 			</div>
 		</div>

 	</div>
  </body>
</html>
