 <html>
  <head>
  	<script src="js/jquery-3.1.0.min.js"></script>
  	
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<script src="js/bootstrap.min.js"></script>

	<script src="js/bundle.js"></script>

    <title>Dashboard</title>
    
    <link rel='stylesheet' href='stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
	<script>
		var interval = null;
		var elapsedSeconds = 0;
		var durationInSeconds = 0;

		var socket = io.connect('http://localhost:3001');
		socket.on('play', function (data) {
			console.log(data);
			//SONG
			var songDiv = document.getElementById('div_song');
			var songP = songDiv.getElementsByTagName('p')[0];
			songP.innerHTML = data.song;

			//ARTIST
			var artistDiv = document.getElementById('div_artist');
			var artistP = artistDiv.getElementsByTagName('p')[0];
			artistP.innerHTML = data.artist;

			durationInSeconds = data.durationInSeconds;
			resetElapsedTime();
		});

		socket.on('backgroundTransition', function(data){
			$(document.body).css({"background-image": "url("+data+")"});
		});

		function resetElapsedTime(){
			if(interval) {
				clearInterval(interval);
				elapsedSeconds = 0;
			}
			interval = setInterval(updateElapsedTime, 1000);
		}

		function updateElapsedTime(){
			//ELAPSED
			var elapsedDiv = document.getElementById('div_elapsed');
			var elapsedP = elapsedDiv.getElementsByTagName('p')[0];
			elapsedSeconds += 1;
			elapsedP.innerHTML = formatDuration(elapsedSeconds);
			updateProgressBar();
		}

		function formatDuration(duration){
			var minutes = null;
			var seconds = null;
			if(duration >= 60){
				minutes = Math.floor(duration / 60);
		    	seconds = Math.floor(duration - minutes * 60);
			}else{
				minutes = 0;
				seconds = duration;
			}
		   
		    var formatted = (minutes+':'+seconds);
		    return formatted;
		}

		function updateProgressBar(){
			var percent = elapsedSeconds * 100 / durationInSeconds;
			//$('#div_progress_foreground').css('width',percent+'%');
			$('#div_progress_foreground').animate({
	            width: percent+'%'
	        }, 1000 );
		}
	</script>
  </head>
  <body>
 	<div class="row">
 		<div id="div_header">
 			<div id="div_header_volume">
 			</div>
 			<div id="div_header_info">
	 			<div id="div_hour">
		 			<p>12:07</p>
		 		</div>
		 		
		 		<div id="div_info">
		 			<div id="div_song">
		 				<p>WifiPlayer</p>
		 			</div>
		 			<div id="div_artist">
		 				<p>Welcome!</p>
		 			</div>
		 		</div>
	 		</div>
	 		<div id="div_header_list">
 			</div>
 		</div>

 		<div id="div_progress">
	 		<div id="div_progress_background"></div>
	 		<div id="div_progress_foreground"></div>
 		</div>

 		<div id="div_elapsed">
 			<p>0:0</p>
 		</div>

 		<div id="div_player">
 			<div id="back">
 				<a id="back_button" class="pressed_button">
				  <img src="images/pressed_back.png">
				</a>
				<a id="pressed_back_button">
				  <img src="images/back.png">
				</a>
 			</div>
 			
 			<div id="play">
 				<a id="play_button" class="pressed_button">
				  <img src="images/pressed_play.png">
				</a>
 				<a id="pressed_play_button">
				  <img src="images/play.png">
				</a>
 			</div>

 			<div id="next">
 				<a id="next_button" class="pressed_button">
				  <img src="images/pressed_next.png">
				</a>
				<a id="pressed_next_button">
				  <img src="images/next.png">
				</a>
 			</div>
 		</div>

 	</div>
  </body>
</html>
